@using Reversi.WebApp.BlazorComponents;
@using Reversi.Services
@using Reversi.Services.Interfaces
@using Microsoft.AspNetCore.Http
@inject IGameService GameService
@{
    ViewData["Title"] = "Home Page";
    var userId = GetUserId();
    string GetUserId()
    {
        var key = "ReversiPlayerCookie";
        if (!Context.Request.Cookies.ContainsKey(key))
        {
            var userId = DateTime.Now.TimeOfDay.ToString();
            Context.Response.Cookies.Append(key, userId, new CookieOptions { Expires = DateTimeOffset.Now.AddDays(1) });
            return userId;
        }
        else
        {
            return Context.Request.Cookies[key];
        }
    }

     
}

<div class="text-center">
    <h1 class="display-4">Reversi Game</h1>
</div>

<div align="center">@(await Html.RenderComponentAsync<GridComponent>(RenderMode.ServerPrerendered, new { userId }))</div>
<div align="center">@(await Html.RenderComponentAsync<Chat>(RenderMode.ServerPrerendered))</div>
