@using Reversi.Web.BlazorComponents;
@using Reversi.Web.Services
@using Reversi.Web.Services.Interfaces
@inject IGameService GameService
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Reversi Game</h1>
</div>

<center>@(await Html.RenderComponentAsync<GridComponent>(RenderMode.ServerPrerendered))</center>
