@using Reversi.Web.Services.Interfaces;
@using Microsoft.AspNetCore.Components.Web

<b>Player's Turn: </b>
<label>@CurrentPlayer</label>

@code {
    [CascadingParameter]
    public IGameService GameService { get; set; }
    public string CurrentPlayer => GameService.GetCurrentPlayer();

    public void Refresh()
    {
        StateHasChanged();
    }
}
