@using System.Data
@using Microsoft.AspNetCore.Components.Web
@using Reversi.Logic

<h3>Grid Component</h3>

<table>
    @for (int row = 0; row < DisplayedBoard.Length; row++)
    {
        <tr>
            @for (int col = 0; col < DisplayedBoard[row].Length; col++)
            {
                <td>
                    <TileComponent message="@DisplayedBoard[row][col].ToString()" row="@row" column="@col"></TileComponent>
                </td>
            }
        </tr>
    }
</table>
@code {

    [Parameter]
    public string[] DisplayedBoard { get; set; }
    

}
