@using Reversi.Web.Services.Interfaces;
@using Microsoft.AspNetCore.Components.Web

@if (!string.IsNullOrEmpty(Message))
{
    <label style="color:red">@Message</label>
    <br />
}

@code {
    [CascadingParameter]
    public IGameService GameService { get; set; }
    
    [Parameter]
    public bool IsUsersTurn { get; set; }

    public string Message => IsUsersTurn ? GameService.GetPersonalMessage() : GameService.GetMessage();
}
