@using Reversi.WebApp.BlazorComponents;
@using Reversi.Services
@using Reversi.Services.Interfaces
@using Microsoft.AspNetCore.Http
@inject IGameService GameService

<h3>RoomComponent</h3>

<CascadingValue Value="@GameService">
    <div class="flex col-md-5">
        <GridComponent UserId="@UserId" />
        <Chat/>
    </div>
</CascadingValue>

@code {
    [Parameter]
    public string UserId { get; set; }
}
