@using Reversi.Web.Services.Interfaces;
@using Microsoft.AspNetCore.Components.Web

<b>Black: </b>
<label>@NumberOfBlack</label>
<b>White: </b>
<label>@NumberOfWhite</label>
@code {
    [CascadingParameter]
    public IGameService GameService { get; set; }
    public int NumberOfBlack => GameService.GetScoreByColor('B'); 
    public int NumberOfWhite => GameService.GetScoreByColor('W');
    public void Refresh()
    {
        StateHasChanged();
    }
}