

@using Microsoft.AspNetCore.Components.Web

<button style="background: @color; height: 40px; width: 40px;" @onclick="MakeMove"></button>

@code {
    [Parameter]
    public string message { get; set; }
    [Parameter]
    public int row { get; set; }
    [Parameter]
    public int column { get; set; }
    [Parameter]
    public EventCallback<string> OnMoveSelected { get; set; }
    [Parameter]
    public bool ShowLegalSquares { get; set; }

    public string color => GetColorFromMessage();

    private string GetColorFromMessage()
    {
        return message switch
        {
            "B" => "Black",
            "W" => "White",
            "0" => ShowLegalSquares ? "Green" : "Gray",
            _ => "Gray"
        };
    }

    public async Task MakeMove()
    {
        await OnMoveSelected.InvokeAsync($"{row},{column}");
    }

}
