

@using Microsoft.AspNetCore.Components.Web

<button style="background: @Color; height: 40px; width: 40px;" @onclick="MakeMove"></button>

@code {
    [Parameter]
    public string Message { get; set; }
    [Parameter]
    public int Row { get; set; }
    [Parameter]
    public int Column { get; set; }
    [Parameter]
    public EventCallback<string> OnMoveSelected { get; set; }
    [Parameter]
    public bool ShowLegalSquares { get; set; }

    public string Color => GetColorFromMessage();

    private string GetColorFromMessage()
    {
        return Message switch
        {
            "B" => "Black",
            "W" => "White",
            "0" => ShowLegalSquares ? "Green" : "Gray",
            _ => "Gray"
        };
    }

    public async Task MakeMove()
    {
        await OnMoveSelected.InvokeAsync($"{Row},{Column}");
    }

}
