@inject IJSRuntime JsRuntime

@using System.Diagnostics
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop

<button style="background: @color; height: 40px; width: 40px;" @onclick="CreateMessage"></button>

@code {
    [Parameter]
    public string message { get; set; }
    [Parameter]
    public int row { get; set; }
    [Parameter]
    public int column { get; set; }

    public string color => GetColorFromMessage();

    private string GetColorFromMessage()
    {
        return message switch
        {
            "B" => "Black",
            "W" => "White",
            "0" => "Green",
            _ => "Red"
        };

    }

    public async Task CreateMessage()
    {
        await JsRuntime.InvokeVoidAsync("alert", $"{row},{column}"); // Alert

    }
}
