@using Reversi.Web.Services.Interfaces;
@using Microsoft.AspNetCore.Components.Web

@if (IsMyTurn)
{
    <label>@MyTurnMessage</label>
}
else
{
    <label>It is your opponent's turn.</label>
}
<br />

@code {
    [Parameter]
    public string UserId { get; set; }

    [CascadingParameter]
    public IGameService GameService { get; set; }
    
    public string CurrentPlayer => GameService.GetCurrentPlayer();
    private bool IsMyTurn => (CurrentPlayer == GameService.GetPlayerColourString(UserId));
    private bool HasAllPlayers => GameService.HasAllPlayers();
    private string MyTurnMessage => HasAllPlayers ? "It is your turn!" : "Waiting for opponent to join the game.";

    public void Refresh()
    {
        StateHasChanged();
    }
}
