@using Reversi.Web.Services.Interfaces;
@using Microsoft.AspNetCore.Components.Web

@if (IsMyTurn)
{
    <label>It is your turn!</label>
}
else
{
    <label>It is your opponent's turn.</label>
}


@code {
    [Parameter]
    public string UserId { get; set; }

    [CascadingParameter]
    public IGameService GameService { get; set; }
    
    public string CurrentPlayer => GameService.GetCurrentPlayer();
    private bool IsMyTurn => (CurrentPlayer == GameService.GetPlayerColourString(UserId));

    public void Refresh()
    {
        StateHasChanged();
    }
}
